html{
font: 62.5%  Cambria, Georgia, serif;
}


.layout-wrap{
 max-width: 1200px;
 min-width: 640px;
 width:100%;
 margin:auto;
}


 .Headcontainer{
width:100%;
background-color: black;
height: 7rem;
}

header form{
  float: right;
}

header input,header img{
  margin-top: 2rem;
}

/* header */

.container{
  background-image: url("D:/github/webapp/img/body-background.jpg");
  background-repeat: no-repeat;
  width:100%;
background-size: cover;
font-size: 1.8rem;
}

.page-body{
background-color: rgba(128, 128, 128,0.4)

}

.page-bodyCon{
    width: 95%;
    margin: auto;
}


.notificationsCon{
  background-color: white;
  border:1px solid black;
clear: both;
margin-top: 4rem;
}


.vishidden{
  visibility: hidden;
}

nav{
margin-top:8rem;
display: inline-flex;
width:100%;

}

.navSHead{
  background-color: black;
  overflow: hidden;
  height: 10rem;
  width: auto;
}

.nav-section{
width:30%;
}

.navSpace{
  width: 5%;
}

.nav-section .header {
color: white;
font-size: 2.3rem;
text-align: center;
width: 60%;
margin: auto;
}

.navImg{
  width:12rem;
}

.navImgCon{
width: 12rem;
margin: auto;
}

.nav-section p {
margin-top: 0;
margin-bottom: 0;
cursor: pointer;
}

.menu{
  background-color: white;
  position: relative;
}


.action-list{
  display: none;
}

.nav-section:hover .action-list {
  display: block;
}

.menu-caption{
  cursor: pointer;
  border-bottom: 1px solid #999999;
}


.nav-section:hover .menu-caption,.nav-section:hover .navSHead{
 opacity: 0.5;
}

.nav-section:hover .menu-caption{
  background-color: #737373;
}


.nav-section ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
   z-index: 1;
   position: absolute;
   background-color: white;
width: 100%;

}

.nav-section ul>li{
  width: 100%;
  border-bottom: 1px solid #999999;
  height: 3rem;
  cursor: pointer;
}

.nav-section ul>li>a {
text-decoration:none;
color: black;
width: 100%;
padding: 1rem;
}

/* nav */

.tabs{
  margin-top:8rem;
  width:100%;
}

.tabs ul{
  display: inline-flex;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
}

.tabHead{
  width:22%;
  background-color: 	#737373;
  text-align: center;
  height: 5rem;
  cursor: pointer;
}

.tabHead p{
  margin-bottom: 0;
}

.tabHead a{
  text-decoration:none;
  color: white;
}

.tabHeadSpace{
  width:4%;
}



[id="quick-reports"]{
  display: none;
}

[id="quick-reports"]:target {
  display: block;
}


[id="my-folders"]{
  display: none;
}

[id="my-folders"]:target{
  display: block;
}


[id="my-team-folders"]{
  display: none;
}


[id="my-team-folders"]:target{
  display: block;
}

[id="public-folders"]{
  display: none;
}


[id="public-folders"]:target{
  display: block;
}

.tab{
  background-color: #d9d9d9;
}

.newTabLink{
  float: right;
  margin-right: 2rem;
  margin-top: 2rem;
}


iframe{
  width: 96%;
  height: 50rem;
  margin-left: 2rem;
  margin-top: 5rem;

}

#quick-reports .tabCon{
  width: 100%;
  height: 60rem;
}

#report1Select {
  width: 150px;
  height: 35px;
  margin-top: 2rem;
  appearance: none;
}

#report1Select option{
  width: 150px;
  height: 35px;
}

.tabConHead{
  width: 96%;
  margin-left: 2rem;
  display: inline-flex;
}

.tabConHeadSpace{
  width: 100%;
}

.NTLImBox{
  margin-top: 1rem;
}

.SettingImBox{
width: 30px;
height: 30px;
margin-top: 2rem;
padding-top: 7px;
padding-left: 7px;
}

.tabSettingIm{
  cursor: pointer;
  transition-duration: 0.8s;
  transition-property: transform;
}


.tabCon  input[type=checkbox]{
display: none;
}

.tabCon  input[type=checkbox] + div + .reportFormCon{
  display: none;
}


.tabCon   input[type=checkbox]:checked + div + .reportFormCon{
  display: block;

}

.tabCon  input[type=checkbox]:checked + .tabConHead  .SettingImBox{
  background-color: white;
}



.reportFormCon{
  clear: both;
 margin-left: 4.2rem;
width: 1072px;
top: 570px;
 position: absolute;
z-index: 1;
background-color: white;
}

.reportFormCon label{
  margin-left: 7rem;
}

@media screen and (max-width: 1200px) {
  .reportFormCon{

  }
}



.report input{
  width: 30rem;
}

.report{
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #b3b3b3;
}

.saveData{
  background-color: black;
  color: white;
  border-style: none;
  width: 8rem;
  height: 3rem;
}

.saveDataCon{
  width: 96%;
  margin: auto;
  display: inline-flex;
}

.saveSpace{
width: 100%;
}

.hidden{
  display: none; /** change to hidden**/
}
